* {
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 16px;
    font-family: 'roboto', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

header {
    width: 100%;
    height: auto;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.container {
    max-width: 1600px;
    height: auto;
    margin: auto;
    position: relative;
    box-sizing: border-box;
    overflow-y: visible;
}

.head__content {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 12px 28px;
    display: flex;
    align-items: center;
    position: relative;
    /* overflow: hidden; */
}

.Responsive-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: auto;
    z-index: 99;
}

._3c46OX {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

._1b_tpJ {
    width: 100%;
    height: 60px;
    background-color: #2A55E5;
    display: flex;
}

._23s92r {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

._23s92r tbody tr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

._3neL8k {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2%;
}

._3neL8k>i {
    color: #fff;
}

._25c_EF {
    font-size: 22px;
    color: #fff;
}

._2m6eZl,
._3WRTvh {
    width: 100%;
    padding: 10px;
    background-color: #fff;

}

._1Hn05_ {
    margin-bottom: 10px;
}

._1Hn05_>a {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

._2GaeWJ>img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.menu00inp {
    display: none;
}

.right00__left00 {
    /* width: 65%; */
    display: flex;
    flex-grow: 1;
}

.left00 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* overflow: hidden; */
}

.log00inp__logo {
    width: 160px;
    height: auto;
}

.ser00inp {
    width: calc(95% - 160px);
    background: #F0F5FF;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.log00inp__search__i {
    width: 45px;
    background: #F0F5FF;
}

.log00inp__search__btn {
    width: 100%;
    padding: 9px 12px;
    background: transparent;
}

.log00inp__search__inp {
    width: calc(100% - 45px);
    background: #F0F5FF;

}

.log00inp__search__inp input {
    width: 100%;
    height: 40px;
    background-color: transparent;
    font-size: 17px;
    outline: none;
}

.fa-magnifying-glass {
    font-size: 21px;
    color: #979AA0;
}

.nav00nav {
    /* width: 37%; */
    display: flex;
    position: relative;
    /* overflow: hidden; */
}

.right00 {
    width: 100%;
    height: 40px;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    position: relative;
    /* overflow: hidden; */
    cursor: pointer;

}

.right00__phoneapp {
    display: none;
}

.use__you {
    display: none;
}


.right00__nav {
    height: 100%;
    display: flex;
    padding: 0 20px;
    position: relative;
}

.right00__nav a {
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 8px;
}

.right00__nav :where(.user__btn, .more__btn):hover {
    background-color: #FAFAFA;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
}

.right00__nav:hover #CX65fd_ {
    transform: rotate(180deg);
    transition: transform .3s ease-in-out;
}

._ecs1XG,
._hj4RE {
    display: none;
    position: absolute;
    top: 100%;
    padding: 0;
    margin: 0;
    min-width: 100px;
    width: 200px;
    list-style: none;
    background-color: #fff;
    border: 1px solid #f0f0f0;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .2);
    z-index: 100;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.yx2hEq {
    display: block;
    padding: 0;
    gap: 0;
}

.AT0fUR {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 8px 12px;
}

._3pKU-e {
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

._3pKU-e img {
    width: 100%;
}

.right00__nav .yx2hEq:hover {
    background-color: #FAFAFA;
    border: none;
    border-radius: 0;
}

.right00__user:hover ._ecs1XG,
.right00__more:hover ._hj4RE {
    display: block;
}


.ser00inp__2 {
    display: none;
}

/* mein content */
.category__section {
    background: #FFFFFF;
    margin: 10px 0 15px;
}

.category__list {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.category__list li {
    padding: 0 20px;
    position: relative;
    overflow: visible;
    cursor: pointer;

}

.category__list li a div {
    display: flex;
    justify-content: center;
}

.category__name {
    font-size: 14px;
    color: #333333;
    font-weight: 600;
    padding-top: 10px;
}

.category__:hover .category__name i {
    transform: rotate(0.5turn);
    transition: ease-in-out .3s;
}

._1UgUYI {
    display: flex;
    position: absolute;
    z-index: 1;
    background: white;
    left: -50%;
    box-shadow: 0 8px 8px 1px rgba(0, 0, 0, .3);
}


._16rZTH>ul,
._frte67 
{ 
    width: 220px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: flex-start;
}

._1BJVlg::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #f0f5ffc5;
    z-index: -1;
    transform: translateX(-100%);
}

._1BJVlg,
.uAl2uE,
._3490ry 
{ 
    font-size: 12px;
    padding: 12px 16px;
    color: #333333;
    position: relative;
}

.uAl2uE {
    font-weight: 600;
}

._16rZTH {
    display: none;
}

._frte67 {
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: -5px 3px 5px 0 rgba(0, 0, 0, .3);
}

._31z7R_ ._1BJVla {
    display: flex;
    flex-direction: column;

}


._3Pzn-c {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translate(0, -50%);
}

._3Pzn-c i {
    font-size: 12px;
    color: #333333;
}

._1BJVlg:hover {
    color: #000;
    transform: translateZ(0px) scale(1.02);
}

.category__:hover ._16rZTH {
    display: flex;
}

._1BJVlg:hover ._3Pzn-c i {
    transform: rotate(180deg);
    transition: transform .3s ease-in-out;
}

._1BJVlg:hover::before {
    transform: translateX(0);
    transition: transform .1s ease-in-out;
}













.row1__00 {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    position: relative;
    overflow: hidden;
}

.left__arrow {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    translate: 0 -50%;
}

/* slider */
.slider {
    width: 100%;
    position: relative;
    overflow: hidden;
    /* display: flex;
    animation: sliderimg 10s infinite; */
}

/* .slider a {
    width: 100%;
    height: 100%;
    display: flex;
    object-fit: cover;
} */


.slider a img {
    width: 100%;
    height: 100%;
    display: none;

}

.slider a img.active {
    display: block;
}

@keyframes sliderimg {
    0% {
        transform: translateX(0%);
    }

    25% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-200%);
    }

    95% {
        transform: translateX(-300%);
    }
}


.left__arrow i {
    color: #878787;
    padding: 33px 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: white;
    box-shadow: 0px 0px 10px rgb(63 63 63),
        0px 0px 10px rgb(63 63 63);
}

.right__arrow {
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 0;
    translate: 0 -50%;
}

.right__arrow i {
    color: #878787;
    padding: 33px 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: white;
    box-shadow: 0px 0px 10px rgb(63 63 63),
        0px 0px 10px rgb(63 63 63);
}


.row2__00 {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 20px;
    margin-top: 10px;
}

.left__img00,
.left__img00 img {
    width: 100%;
}

.right__img00,
.right__img00 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.row3__00 section,
.row9__00 section {
    display: flex;
    margin-bottom: 16px;
    gap: 1%;
    overflow: hidden;
}

.section__left-2 {
    display: none;
}

.row9__00 .section__left-2 {
    display: flex;
    padding: inherit;
}

.row9__00:first-child {
    max-width: 32%;
}



.section__right,
.section__mid,
.section__left,
.section__left-2,
.row4__left {
    width: 100%;
    max-width: 33%;
    background-color: #fff;
    padding: 16px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

/* .section__mid {
    margin: 0 16px;
} */

.section__left {
    padding: inherit;
}

.right__heading,
.mid__heading,
.left__heading,
.row4__left__heading {
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
    align-items: center;
}

.left__heading {
    padding: 16px;
    margin: 10px 0 0;
}

.right__heading h2,
.mid__heading h2,
.left__heading h2,
.left__heading__content h2 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 16px;
    text-transform: capitalize;
}

.right__content {
    width: 25px;
    height: 25px;
    margin-bottom: 16px;
    border-radius: 50%;
    background: #2A55E5;
    position: relative;
}

.right__content::after {
    content: '';
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
    width: 100%;
    height: 100%;
    position: absolute;
    color: white;
    font-size: smaller;
    text-align: center;
    align-content: center;
}

/* left product card */

.left__img__content {
    display: flex;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.left__img__content__1 {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    position: relative;
    gap: 16px;
}

.left__img__content__2 {
    display: flex;
    flex-flow: column;
    position: relative;
    border-left: 1px solid #ddd;
    gap: 16px;
}

.left__img img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}

#_0r9fje-,
#_0r9fjdu- {
    display: none;
}

.left__text {
    text-align: left;
    padding: 12px;
}

.left__text h4 {
    font-size: 15.5px;
    color: #222;
    font-weight: 500;
    margin: 0 0 4px;
    text-transform: capitalize;
}

.left__text small {
    color: #848081;
    text-decoration: line-through;
    position: relative;
}


.left__text p,
.left__text b {
    text-transform: capitalize;
    margin: 0px 5px;
    position: relative;
}

.left__text b::before {
    content: '₹';
    position: relative;
}

.left__text p {
    color: forestgreen;
}

/* other Product card */
.right__img__content,
.mid__img__content,
.row4__img__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 16px;
}

.mid__img__link,
.right__img__link,
.row4__img__link {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

/* Image container */
.right__img,
.mid__img,
.left__img,
.row4__img {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    padding: 20px 34px;
}


.right__img img,
.mid__img img,
.row4__img img {
    max-width: 100%;
}

.right__img img:hover,
.mid__img img:hover,
.left__img img:hover,
.row4__img img:hover {
    transform: translateZ(0px) scale(1.02);
}

/* Text content */
.right__text,
.mid__text,
.row4__text {
    padding: 12px;
    text-align: left;
}

.right__text h4,
.mid__text h4,
.row4__text h4 {
    font-size: 17px;
    color: #222;
    font-weight: 500;
    margin: 0 0 4px;
    text-transform: capitalize;
}

.right__text p,
.mid__text p,
.row4__text p {
    font-size: 17px;
    color: forestgreen;
    text-transform: capitalize;
}


/* row4 content */
.row4__00 {
    width: 100%;
    display: flex;
    margin-bottom: 16px;
    gap: 1%;
}

.row4__left {
    max-width: 32%;
}

.row4__right {
    width: 67%;
}

#right__img {
    display: none;
}

.row4__right img {
    width: 100%;
    height: 100%;
}

#row4__1text-,
#row4__1text,
#row4__2text-,
#row4__2text-- {
    display: none;
}

/* row5 content  */

.row5__00 {
    width: 100%;
    background-color: #fff;
    padding: 16px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    position: relative;
}

.row5__heading {
    display: flex;
    position: relative;
    padding: 15px;
    margin: 10px 0 0;
    justify-content: space-between;
    align-items: center;
}

.row5__left__heading h2 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 16px;
    text-transform: capitalize;
}

.row5__right__heading {
    width: 25px;
    height: 25px;
    margin-bottom: 16px;
    border-radius: 50%;
    background: #2A55E5;
    position: relative;
}

.row5__heading__::after {
    content: '';
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
    width: 100%;
    height: 100%;
    position: absolute;
    color: white;
    font-size: smaller;
    text-align: center;
    align-content: center;
}

/* row5 product card */
.row5__img__content {
    display: flex;
    overflow-x: auto;
    gap: 16px;
    padding: 10px;
    scroll-behavior: smooth;

}

.row5__img__content::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar for WebKit browsers */
}

.row5__img__content {
    -ms-overflow-style: none;
    /* Hide scrollbar for Internet Explorer and Edge */
    scrollbar-width: none;
    /* Hide scrollbar for Firefox */
}

.row5__img__link {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    flex: 0 0 auto;
    /* Prevent flex items from shrinking */
    /* width: 160px; Adjust width as needed */
}

.row5__imgg {
    padding: 10px;
}

.row5__img {
    width: 100%;
    height: 185px;
    display: flex;
    justify-content: center;
}

.row5__img img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.row5__img img:hover {
    transform: translateZ(4px) scale(1.01);
}

.row5__text {
    padding: 10px 0 0;
    text-align: center;
}

.row5__text h4 {
    font-size: 14px;
    color: #222;
    font-weight: 400;
    margin: 0 0 4px;
    text-transform: capitalize;
}

.row5__text p {
    display: flex;
    justify-content: center;
    position: relative;
    gap: 5px;
}

.row5__text b::before {
    content: '₹';
    position: relative;
}

.row5__text small {
    color: #848081;
    text-decoration: line-through;
    position: relative;
}

.row5__img__content::before {
    content: '';
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 0;
    color: #878787;
    padding: 33px 15px 33px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: white;
    transform: translateY(-50%);
    z-index: 1;
    box-shadow: 0px 0px 6px 0px #878787;
}

.row5__img__content::after {
    content: '';
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: absolute;
    top: 50%;
    right: 0;
    color: #878787;
    padding: 33px 15px 33px 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: white;
    transform: translateY(-50%);
    box-shadow: 0px 0px 6px 0px #878787;

}


/* footer */
.bottom__00 {
    padding: 25px;
}

._15e_hF {
    margin: 32px 0;
    font-size: 1em;
    font-weight: 600;
    color: #565656;
}

._2jPK0r {
    color: #565656;
    font-size: 1em;
    font-weight: 600;
}

._3xGbi- {
    display: flex;
    margin: 5px 0;
}

._3xGbi- ul {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

}

._3xGbi- ul li {
    position: relative;
}

._3xGbi- ul li a {
    position: relative;
    padding-right: 5px;
    margin-right: 5px;

}

._3xGbi- ul li a::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 15px;
    background-color: black;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.idEVeE {
    font-size: 14px;
    text-transform: uppercase;
    color: #565656;
    margin: 0 10px 0 0;
}

._2HvN4k {
    font-size: 12px;
    color: #565656;
}





/* footer main content */
._1ZMrY {
    background: #212121;
}

._1ZMrY_ {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 40px 60px 0;
}

._1ZMrY_ div {
    display: flex;
    flex-flow: column;
}

.HlWMPX,
._3I5N7v,
._1oQ-r6 {
    color: white;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 600;
}

.HlWMPX:hover {
    text-decoration: underline;
    transform: translateZ(0px) scale(1.02);
}

._3I5N7v {
    color: #878787;
    font-size: 12px;
    margin-bottom: 10px;
}

._1ZMrY_ ._31kgzK {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btl4ck {
    padding-left: 30px;
    border-left: 1px solid #454d5e;

}

._2l3nc- {
    margin-right: 1em;
}

._3u7sdhj {
    margin-top: 10px;
}

._1HSe4t {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
    border-top: 1px solid #454d5e;
    padding: 25px 0;
}

.c4gehN,
.c4gehN span {
    display: flex;
    align-items: center;
    color: white;
    font-size: 12px;
}